<h2>Mis libros</h2>
<ul class="libros">
    <li *ngFor="let libro of libros"
        [class.selected]="libro === libroSeleccionado"
        (click)="onSelect(libro)">
        <span class="badge">{{libro.idLibro}}</span> {{libro.titulo}}
    </li>
</ul>
<div *ngIf="libroSeleccionado">
    <h2>Detalles de {{libroSeleccionado.titulo}}!</h2>
    <div><label>Id: </label>{{libroSeleccionado.idLibro}}
    </div>
    <div>
        <label>Titulo: </label>
        <input [(ngModel)]="libroSeleccionado.titulo" placeholder="titulo"/>
    </div>
</div>